.clients-section .container {
    padding-top: 60px;
    padding-bottom: 45px;
    padding-left: 0;
    padding-right: 0;
}

.clients {
    margin-top: 0;
    margin-bottom: 15px;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
}

.clients-list-item {
    margin: 15px;
}

.clients-list-link {
    display: flex;
    width: 208px;
    height: 88px;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    
    border-radius: 4px;
    fill: #AFB1B8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid #2196F3;
    }
}

.clients-list-link-svg-one{
    width: 45px;
    height: 50px;
}

.clients-list-link-svg-two {
    width: 40px;
    height: 52px;
}

.clients-list-link-svg-three {
    width: 41px;
    height: 43px;
}

.clients-list-link-svg-four {
    width: 80px;
    height: 43px;
}

.clients-list-link-svg-five {
    width: 59px;
    height: 47px;
}

.clients-list-link-svg-six {
    width: 89px;
    height: 46px;
}

.clients-list-link-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .clients-list-link-svg,
.clients-list-link:focus .clients-list-link-svg {
    fill: $accent-color;
}
@media screen and (min-width: 768px) {
    .clients-list-link {
    width: 224px;
    height: 88px;
    }
}
@media screen and (min-width: 1200px) {
    .clients {
        font-size: 36px;
        line-height: 1.16;
    }
    .clients-list {
        flex-wrap: nowrap;
    }
    .clients-list-link {
        width: 168px;
    }
    .clients-list-item {
        margin: 0;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    .clients-section .container {
        padding-top: 94px;
        padding-right: 15px;
        padding-bottom: 94px;;
        padding-left: 15px;
    }

}