.feature .container {
    padding-top: 60px;
    padding-bottom: 60px;
}


.feature-item:not(:last-child) {
    margin-bottom: 30px;
}

.feature-item::before {
    content: "";
    display: block;
    padding: auto;
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-right: 190px;
    padding-bottom: 25px;
    padding-left: 190px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.feature-item-one::before {
    background-image: url(../images/Osobennosti/osobennosti-img-1.svg);
}
.feature-item-two::before {
    background-image: url(../images/Osobennosti/osobennosti-img-2.svg);
}

.feature-item-three::before {
    background-image: url(../images/Osobennosti/osobennosti-img-3.svg);
}

.feature-item-four::before {
    background-image: url(../images/Osobennosti/osobennosti-img-4.svg);
}

.feature-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.feature-description {
    color: $text-light-theme-color;
}

.feature-description,
.team-item,
.team-item-description {
    margin-top: 0;
    margin-bottom: 0;
}
// .whatwedo-item,
// .join-in
.feature-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
}

.feature-title {
    color: $title-light-theme-color;
}

.feature-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}