footer {
    background-color: #2F303A;
}

.address-section {
    margin-bottom: 60px;
}

.logo-link-footer {
    margin-bottom: 20px;
    text-align: center;
    padding: 0;
}

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.address-list-item {
    text-align: center;
}

.address-list-item:not(:last-child) {
    margin-bottom: 8px;
}

.adress-item {
    @extend %font-for-footer-contacts;
    color: $title-dark-theme-color;
}

.mail-item,
.tel-item {
    @extend %font-for-footer-contacts;
    color: $text-dark-theme-color;
}