.social-link-one {
    background-image: url(../images/social-links/instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link-two {
    background-image: url(../images/social-links/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link-three {
    background-image: url(../images/social-links/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link-four {
    background-image: url(../images/social-links/linkedin.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
}

.join-in-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.join-in-section {
    margin-bottom: 60px;
    text-align: center;
}
.join-in {
    color: $title-dark-theme-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .join-in-section {
        text-align: center;
        margin-bottom: 0;
        margin-top: 5px;
    }
}
@media screen and (min-width: 1200px) {
    .join-in-section {
        margin-top: 12px;
        margin-right: 94px;
        text-align: left;
    }
    // .join-in-list {
    //     justify-content: start;
    // }
}