.social-link-one {
    background-image: url(../images/social-links/instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link-two {
    background-image: url(../images/social-links/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link-three {
    background-image: url(../images/social-links/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link-four {
    background-image: url(../images/social-links/linkedin.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
}

.join-in-list {
    display: flex;
    justify-content: center;
}

.join-in-section {
    margin-bottom: 60px;
}