.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
    overflow-y: auto;
}

.hero-btn-form {
    box-sizing: border-box;
    width: 450px;
    height: 609px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;    
    position: relative;
    top: 15%;
}

.close-form-svg {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-form-button {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #AFB1B8;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: $title-dark-theme-color;
    position: absolute;
    top: 7px;
    right: 8px;
    background-size: contain;
        &:hover {
            cursor: pointer;
            outline: none;
                .close-form-svg {
                    fill: $accent-color;
                }
        }
    }

.hero-form-field {
    margin-bottom: 28px;
    position: relative;
}

.hero-form-label {
    position: absolute;
    left: 42px;
    top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #757575;    
}

.hero-form-label-svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 11px;
    left: 17px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-form-input:focus ~ .hero-form-label-svg {
    fill: $accent-color;
}

.hero-form-input:not(:placeholder-shown) ~ .hero-form-label-svg {
    fill: $accent-color;
}

.hero-form-input {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
        &:hover {
            cursor: pointer;
        }
}

.hero-form-input:focus + .hero-form-label,
.hero-form-input:not(:placeholder-shown) + .hero-form-label {
    transform: translate(-30px, -30px);
    color: $accent-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
}

.hero-form-input:focus,
.hero-form-comment:focus,
.hero-form-input:not(:placeholder-shown) {
    border-color: $accent-color;
}

.hero-form-comment {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    margin-bottom: 20px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
        &::placeholder {
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.01em;
            color: #757575; 
        }
}

.checkbox-div {
    display: flex;
    justify-content: center;
}

.checkbox-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
        &::before {
            content: "";
            display: inline-flex;
            width: 12px;
            height: 11px;
            background-image: url(..//images/icon-check.svg);
            margin-right: 6px;
            border: 1.8px solid #212121;
            border-radius: 2px;
        }
}

.checkbox-input-text:checked + .checkbox-text::before {
    background-color: $accent-color;
    border-color: $accent-color;
    background-origin: border-box;
    background-size: contain;
}

.checkbox-agree-link {
text-decoration-line: underline;
color: #2196F3;
margin-left: 2px;
}

.checkbox-input-text {
    background-color: #212121;
    border-radius: 2px;
    margin-right: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.hero-button-form {
    margin-top: 32px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-color: transparent;
        &:focus {
            outline: none;
        }
}

.hero-btn-form-p {
font-weight: bold;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin: 0;
margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
    .hero-btn-form {
        top: 32%;
    }
}
@media screen and (min-width: 1200px) {
    .hero-btn-form {
        top: 31%;
        width: 528px;
        height: 581px;
    }
    .checkbox-text {
        font-size: 14px;
        line-height: 1.71;
    }
}