    $main-font: 'Roboto', sans-serif;
    $secondary-font: 'Raleway', sans-serif;
    $title-dark-theme-color: #ffffff;
    $title-light-theme-color: #212121;
    $accent-color: #2196F3;
    $text-dark-theme-color:  rgba(255, 255, 255, 0.6);
    $text-light-theme-color: #757575;
    $logo-light-theme-color: #000000;
    $logo-dark-theme-color: #ffffff;
    $button-text-accent-color: #ffffff;
    $button-background-accent-color: #2196F3;
    $text-description-color: #ffffff;